<a class="${baseClass}" dojoAttachPoint='focusNode,titleNode' title='' alt=''
   href="javascript://" tabindex="${tabIndex}"
   dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse,onkeypress:_onKeyPress"
  ><span class='${baseClass}Top'
    ><span class='${baseClass}TopLeft'></span
    ><span class='${baseClass}TopRight'></span
  ></span
  ><span class='${baseClass}Left'
    ><span class='${baseClass}Right'
      ><span class='${baseClass}Inner' dojoAttachPoint="innerNode"
        ><span class='${baseClass}Content' dojoAttachPoint="contentNode"
          ><span class="${baseClass}Icon" dojoAttachPoint='iconNode'></span
          ><span class='${baseClass}Label'
                  dojoAttachPoint='containerNode,labelNode'></span
          ><span class="${baseClass}CloseButton" dojoAttachPoint='closeNode'
                 dojoAttachEvent='onclick: _onClickCloseButton, onmouseenter: _onCloseButtonEnter, onmouseleave: _onCloseButtonLeave'></span
        ></span
      ></span
    ></span
  ></span
  ><span class='${baseClass}Bottom'
    ><span class='${baseClass}BottomLeft'></span
    ><span class='${baseClass}BottomRight'></span
  ></span
  ><input class="${baseClass}Input" dojoAttachPoint='valueNode'
          type="hidden" ${nameAttrSetting} value="${value}"
          style="display:none;"
/></a>
