.ExpandingTextBox {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  #zoom: 1;
  #display: inline;
  #vertical-align: auto;
  border: 0;
  padding: 0;
  overflow: hidden;
  line-height: normal;
  cursor: text; }
  .ExpandingTextBox * {
    cursor: text; }
  .ExpandingTextBox input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; }
  .ExpandingTextBox .ExpandingTextBoxPositioning {
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 2px; }
    .ExpandingTextBox .ExpandingTextBoxPositioning .ExpandingTextBoxInput, .ExpandingTextBox .ExpandingTextBoxPositioning .ExpandingTextBoxNudger {
      display: block;
      position: relative;
      overflow: hidden;
      white-space: pre;
      left: 0;
      top: 0; }
    .ExpandingTextBox .ExpandingTextBoxPositioning .ExpandingTextBoxInput {
      width: 100% !important;
      background-color: transparent !important;
      background-image: none !important; }
    .ExpandingTextBox .ExpandingTextBoxPositioning .ExpandingTextBoxNudger {
      height: 0;
      margin-right: 1em !important; }
  .ExpandingTextBox input:focus {
    outline: 0; }
  .dj_ie6 .ExpandingTextBox {
    vertical-align: auto; }
